@(message: String, style: String = "scala") 

@defining(play.core.PlayVersion.current) { version =>

<section id="top">
  <div class="wrapper">
    <h1><a href="https://playframework.com/documentation/@version/Home">@message</a></h1>
  </div>
</section>

<div id="content" class="wrapper doc">
<article>

  <h1>Welcome to Play</h1>

  <blockquote>
    <p>
      Play @version
    </p>
  </blockquote>

  <h2>Why do you see this page?</h2>

    <p>
      The <code>conf/routes</code> file defines a route that tells Play to invoke the <code>ExampleController.index</code> action
      whenever a browser requests the <code>/</code> URI using the GET method:
    </p>

    <pre><code># Home page
GET     /               controllers.ExampleController.index</code></pre>

    <p>
      Play has invoked the <code>controllers.ExampleController.index</code> method to obtain the <code>Action</code> to execute:
    </p>

    <pre><code>def index = Action { implicit request: Request[AnyContent] =>
  Ok(views.html.index("Your new application is ready!"))
}</code></pre>
    <p>
      The template is defined in the <code>app/views/index.scala.html</code> file and compiled as a Scala function.
    </p>
    <pre><code>@@(message: String)

@@main("Welcome to Play") {

    @@welcome(message)

}</code></pre>
    <!--
    <h2>Async Controller</h2>
    <p>
        <a href="@routes.ExampleController.message">Click here for the AsyncController action!</a>
    </p>
    <p>
        You can read more about <a href="https://www.playframework.com/documentation/@version/ScalaAsync">asynchronous actions</a> in the documentation.
    </p>
    -->
</article>
</div>
}
